.navbar-nav {
    border-bottom: 2px solid $primary-red
}

#registration, #loginbox {
    margin: 0 8.54701%;
    max-width: inherit
}

.form-inline > .radio {
    min-width: 12%
}

.av_padTop {
    margin-top: 16px
}

.av_nomargin {
    margin: 0 !important
}

.av_nomargin_top {
    margin-top: 0 !important
}

.clear {
    clear: both
}

a.icon {
    padding: 7px
}

#av_messageBar {
    background: $av-message-bar-background;
    color: $white;
    display: none;
    font: bold 1.5em "Vollkorn", serif;
    height: 27px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%
}

#logo, .logo {
    margin: 10px 0px 5px 10px;
    background-image: url("../img/athlete-logo.png");
    background-size: 268px 100px;
    background-repeat: no-repeat;
    width: 268px;
    height: 86px;
    float: left;
    text-indent: -2000px
}

.footer {
    text-align: center;
    padding: 30px 0
}

.footer p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    line-height: 12px
}

#search {
    margin-top: 20px
}

.athlete_row td {
    text-align: center
}

.user_image {
    max-width: 150px
}

.recent-posts > section {
    clear: left
}

.smallest {
    font-size: 10px
}

.darker_black {
    background-color: #232323
}

.margin-right {
    margin-right: 20px
}

.container {
    background-color: #050505
}

.av_registration {
    text-align: center;
    padding: 4%
}

#av_loginbox {
    background-color: #232323;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background-clip: padding-box;
    border: 2px solid $primary-red;
    box-shadow: none;
    max-width: inherit;
    min-width: 260px;
    padding: 40px;
    width: 20%;
    margin: 70px auto;
    text-align: center
}

#av_loginbox .logo {
    width: 100%;
    padding: 20px;
    margin-top: 20px
}

#av_loginbox .av_btn_success {
    margin: 10px auto
}

#av_loginbox .av_form_group {
    float: none;
    text-align: left;
    padding-left: 20px;
    width: auto
}

#av_loginbox .av_form_group label, #loginbox .av_form_group input {
    float: none
}

.av_password_reset {
    background-color: #000000;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background-clip: padding-box;
    border: 2px solid $primary-red;
    top: 210px;
    height: 250px
}

.nav {
    margin-bottom: 0
}

.nav a.disabled-link {
    color: gray;
    cursor: default
}

.nav a.disabled-link:hover {
    background-color: white;
    background: none;
    color: gray;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$white', GradientType=1)
}

.accordion {
    margin-bottom: 0
}

.accordion-body {
    padding: 0 4%
}

.av_widget {
    height: 415px;
    overflow: auto;
    padding: 0 1%
}

.av_widget-box {
    margin: 16px auto
}

#av_addToWatchlist .widget-title:hover, .av_addToWatchlist .widget-content p {
    cursor: pointer
}

.av_watchlist_edit, .av_watchlist_delete {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 18px;
    float: right;
    padding: 4px
}

.av_watchlist_athlete {
    font: normal 16px Verdana, Geneva, sans-serif;
    padding-bottom: 6px;
    width: 100%
}

#watchlistSpec {
    opacity: 1;
    filter: alpha(opacity=100);
    border: #999 thin solid;
    color: white;
    font: bold 20px Verdana, Geneva, sans-serif;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    z-index: 2
}

#av_watchlist a.icon {
    float: right;
    padding: 7px;
    width: auto
}

#av_watchlist a.av_icon_right {
    float: right;
    padding: 0
}

#av_dashboard .widget-box {
    border: none
}

.av_widget-title {
    box-shadow: 0 1px 0 #000;
    color: $white;
    font: 20px normal Verdana, Geneva, sans-serif;
    height: 32px;
    padding: 6px 2%
}

.av_message {
    padding: 2px 1% 16px
}

.av_message p {
    margin: 0
}

.av_error_message {
    clear: both;
    color: #AA0000;
    font-weight: bold;
    margin: 0 auto;
    padding: 4px;
    width: 80%
}

.av_date {
    font-size: 11px;
    color: #DDDDDD
}

.article-post {
    padding: 4px 1%
}

.article-post p {
    font-family: "Vollkorn", serif;
    font-weight: normal
}

.article-post a, .article-post a:link, .article-post a:active, .article-post a:visited {
    color: #ddd
}

.article-post a:hover, .article-post .more {
    color: $primary-red;
    background-color: inherit
}

.article-post a:hover .more {
    color: #ddd
}

.athlete h1 {
    padding: 6px 1%
}

.av_highlight {
    padding: 6px 1%
}

.athlete dt, .athlete dd {
    font-size: 16px;
    line-height: 150%
}

.athlete dt {
    float: left;
    clear: both;
    width: 35%;
    font-weight: normal;
    text-align: right
}

.athlete dd {
    float: left;
    width: 60%
}

.widget-box {
    background: none;
    border: 1px solid $primary-red
}

.widget-content {
    padding: 10px;
    overflow: auto
}

.av_label, .av_label_sm {
    font-weight: normal;
    color: #FCC
}

.av_label {
    font-size: 18px
}

.av_label_sm {
    font-size: 9px
}

.av_control_label {
    float: left;
    text-align: right;
    padding-right: 10px
}

.av_team img {
    max-height: 30px
}

.primaryTeam::after {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    background: #2903a9;
    background: -moz-linear-gradient(top, #2903a9 0%, #22028f 44%, #19006d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2903a9), color-stop(44%, #22028f), color-stop(100%, #19006d));
    background: -webkit-linear-gradient(top, #2903a9 0%, #22028f 44%, #19006d 100%);
    background: -o-linear-gradient(top, #2903a9 0%, #22028f 44%, #19006d 100%);
    background: -ms-linear-gradient(top, #2903a9 0%, #22028f 44%, #19006d 100%);
    background: linear-gradient(to bottom, #2903a9 0%, #22028f 44%, #19006d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2903a9', endColorstr='#19006d', GradientType=0);
    border: 0px solid #000000;
    content: "Primary";
    margin-left: 10px;
    margin-top: -4px;
    padding: 3px 12px
}

.av_contained {
    position: relative
}

.av_roster {
    border: $primary-red 2px solid;
    position: absolute;
    top: 72px;
    z-index: 1;
    background-color: #999;
    width: 80%
}

.av_roster table, .av_roster tr, .av_roster td {
    border: none
}

.av_share_profile_video {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: #fcf8e3;
    color: $primary-red;
    border: 1px solid #fbeed5;
    padding: 0 2px;
    font-weight: bold
}

#video_info_detail .av_share_profile_video {
    padding-top: 8px;
    padding-bottom: 8px
}

.nonAV {
    background-image: url("../img/pencil.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px
}

.nonAV:hover {
    cursor: pointer
}

#search ul {
    text-align: left
}

#search li {
    color: $primary-red;
    font-size: 11px
}

#search label {
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding-top: 3px
}

#recentSearch li {
    font: bold 12px Verdana, Geneva, sans-serif;
    color: $primary-red;
    line-height: 150%
}

#recentSearch li:hover {
    background-color: $primary-red;
    color: white
}

#av_search_results {
    background-color: #000
}

#search input[type="checkbox"] {
    margin-right: 6px;
    float: left
}

#search .btn {
    padding: 2px 14px;
    background-image: none;
    background-color: black;
    color: #fcc;
    box-shadow: none
}

#search legend {
    border: none;
    border-bottom: thin rgb(204, 204, 204) solid;
    color: #cccccc;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 100%
}

#searchText {
    width: 84%
}

#advancedSearch {
    padding-left: 4%
}

#av_pop {
    background: #000;
    display: none;
    position: fixed;
    _position: absolute;
    z-index: 200 !important
}

#av_bkgnd_pop, .av_bkgnd_pop {
    opacity: 0.55;
    filter: alpha(opacity=55.0);
    background: #000000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    _position: absolute;
    top: 0;
    width: 100%
}

.av_bkgnd_pop {
    display: block
}

#av_pop_close, .av_close_dialog {
    float: right
}

.coach-dash-team th, .coach-dash-team td {
    font-size: 11px;
    line-height: 10px
}

.av_team {
    margin: 10px 0 0
}

.av_player {
    text-align: left !important
}

.av_header_right {
    float: right
}

.av_header_left {
    float: left
}

.av_header_icons {
    margin: 10px 0;
    padding: 6px 0
}

.av_header_icons .icon {
    padding: 7px
}

.icon:hover {
    cursor: pointer
}

#av_addToWatchlist .widget-title {
    border-bottom: none
}

#av_addToWatchlist .widget-title span.icon {
    margin-right: 8px
}

#av_addToWatchlist .widget-content {
    padding: 0 5px 5px
}

#av_addToWatchlist p {
    padding-left: 25px;
    background-image: url(../img/plus-sign.png);
    background-repeat: no-repeat;
    background-position: 0 2px
}

#av_addToWatchlist .av-message span {
    padding-left: 25px
}

.posRel {
    position: relative
}

#awayTeamRoster {
    float: right
}

.av_team_roster {
    border: thin solid $primary-red;
    margin-bottom: 20px;
    width: 100%;
    line-height: 200%
}

.av_team_roster > thead > tr {
    background-color: $primary-red;
    font-weight: bold
}

.av_team_roster th {
    font-size: 11px
}

.av_team_roster td {
    font-size: 12px;
    border: thin solid $primary-red;
    padding: 2px 4px
}

.av_team_roster table {
    background: #99a0a8;
    background: -moz-linear-gradient(top, #99a0a8 0%, #697077 36%, #13181c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99a0a8), color-stop(36%, #697077), color-stop(100%, #13181c));
    background: -webkit-linear-gradient(top, #99a0a8 0%, #697077 36%, #13181c 100%);
    background: -o-linear-gradient(top, #99a0a8 0%, #697077 36%, #13181c 100%);
    background: -ms-linear-gradient(top, #99a0a8 0%, #697077 36%, #13181c 100%);
    background: linear-gradient(to bottom, #99a0a8 0%, #697077 36%, #13181c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a0a8', endColorstr='#13181c', GradientType=0);
    color: $white;
    text-align: center;
    width: 100%
}

.av_team_roster th {
    border: thin solid $primary-red;
    font-weight: bold
}

.av_player_measurements {
    display: none
}

.athlete_row :hover {
    cursor: pointer
}

.modal {
    background-color: #000000
}

.modal-dialog h1 {
    background-color: transparent;
    font: bold 2.1em "Vollkorn", serif;
    margin: -5px 5px 0;
    padding: 0
}

.modal-header {
    border-radius: 24px 24px 0px 0px;
    -moz-border-radius: 24px 24px 0px 0px;
    -webkit-border-radius: 24px 24px 0px 0px;
    height: 30px;
    padding: 12px 15px 8px
}

.modal-header div.icon {
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: center;
    width: 30px
}

.modal-header div.title {
    text-align: center;
    float: left
}

.modal-header .av_icon {
    color: white;
    width: 30px
}

.modal-footer {
    border-radius: 0px 0px 24px 24px;
    -moz-border-radius: 0px 0px 24px 24px;
    -webkit-border-radius: 0px 0px 24px 24px;
    height: 30px;
    padding: 10px
}

.av_dialog_widget_message h1, .av_dialog_widget_message h2, .av_dialog_widget_message h3, .av_dialog_widget_message h4, .av_dialog_widget_message h5, 
.av_dialog_widget_message h6 {
    color: #000;
    margin: 0
}

.av_dialog_widget, #watchlist_add_new {
    display: none;
    margin: 10px auto;
    top: 0;
    left: -360px;
    position: absolute;
    width: 350px;
    z-index: 200 !important
}

.av_dialog_widget .icon, .av_dialog_widget .title, .av_dialog_widget .close {
    margin: 0
}

.av_dialog_widget .icon, .av_dialog_widget .close {
    color: white;
    padding: 0 3%;
    width: 10%
}

.av_dialog_widget .icon {
    text-align: left;
    float: left
}

.av_dialog_widget .title {
    text-align: center;
    float: left;
    width: 67%
}

.av_dialog_widget .close {
    text-align: right;
    float: right
}

.av_dialog_widget_title, .av_dialog_widget_footer {
    background-color: $primary-red;
    color: white;
    font: bold 20px Verdana, Geneva, sans-serif;
    min-height: 24px;
    padding: 6px 0;
    width: 100%
}

.av_dialog_widget_message {
    background-color: white;
    color: #000;
    font: normal 1.5em "Vollkorn", serif;
    padding: 3%;
    text-align: left;
    line-height: 1
}

#av_dialog_widget_message {
    background-color: white;
    color: #000;
    display: table-cell;
    font: normal 1.5em "Vollkorn", serif;
    padding: 3%;
    text-align: left;
    line-height: 1;
    vertical-align: middle
}

.av_dialog_widget_footer {
    text-align: center
}

.av_dialog_widget_footer button {
    width: 15%
}

#watchlist_add_new .av_dialog_widget_message {
    text-align: center
}

.av_dialog_widget_message input, .av_dialog_widget_message button {
    color: #333
}

.av_dialog_widget_message button, #addNewWatchlistButton {
    background-color: $primary-red;
    color: white
}

#addNewWatchlistButton {
    width: 75px;
    padding: 4px
}

#av_athleteEntry fieldset {
    float: left;
    margin: 10px 2px
}

#av_athleteEntry fieldset .tab {
    border: #900 thin solid;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-topright: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    padding: 0 5%;
    min-width: 100px;
    text-align: center;
    color: white
}

#av_athleteEntry fieldset .current {
    border-bottom: none
}

.line2x > .av_form_group {
    padding-top: 1%
}

.av_form_group, .av_form_heading {
    clear: both
}

.av_form_group label {
    width: 10em
}

.av_form_group label, .av_form_group input {
    float: left;
    margin-right: 2%
}

.av_form_group textarea {
    width: 38%
}

.av_tab_widget legend {
    float: left;
    border: #900 thin solid;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-topright: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    padding: 0 5%;
    min-width: 100px;
    text-align: center;
    color: white
}

.av_tab_widget fieldset {
    margin: 10px 12px
}

.av_controls div {
    float: left
}

.av_controls h1 {
    margin: 0
}

.tab-content {
    overflow: visible;
    width: 100%
}

.ath_panel_team label {
    margin-right: 4px;
    text-align: right;
    width: 20%
}

.ath_panel_team h3 {
    border-bottom: $primary-red thin solid
}

.av_multivalue_row {
    margin-top: 0
}

.av_multivalue {
    font: normal 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    margin-left: 5%;
    width: 45%
}

.av_multivalue label {
    margin-right: 4px;
    text-align: right;
    width: 40%
}

#measureSelect, #teamSelect {
    margin-right: 8%
}

#measureSelect, #teamSelect, #positionSelect {
    float: right
}

#av_portrait {
    position: relative
}

#av_portrait > img {
    float: none
}

#editProfilePicture {
    display: none;
    position: absolute;
    bottom: 11px;
    left: 11px;
    background-color: #FFF;
    font-weight: bold;
    color: black;
    padding: 1px 10px;
    margin: 0;
    -webkit-box-shadow: 3px 3px 5px #323232bf;
    -moz-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75)
}

#av_portrait:hover > #editProfilePicture {
    display: block
}

.av_game {
    background-color: #00C;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px
}

.accordion-group {
    border: none
}

.accordion-inner {
    padding-top: 0
}

.video_eventType_title {
    padding: 1px 1%
}

*[id*='eventType'] .accordion-body {
    padding-right: 0;
    padding-left: 2%
}

.video_event_title {
    box-shadow: 0 1px 0 #000;
    background-color: #000;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3F3F3F), to(#000));
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: -moz-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: -ms-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: -o-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: linear-gradient(top, #3F3F3F 0%, #000 100%)
}

.video_match_title a {
    font-size: 14px
}

.video_eventType_title span.icon, .video_event_title span.icon, .video_match_title span.icon {
    border-right: 1px solid #CDCDCD;
    float: left;
    opacity: 0.7;
    filter: alpha(opacity=70);
    padding: 8px 10px 7px 8px;
    margin-right: 10px
}

.video_event_title {
    font: normal 20px "Vollkorn", serif;
    color: #d3d3d3;
    padding: 1px 1%
}

.video_eventType_title a:hover {
    color: #000
}

.video_event_title a:hover {
    background-color: transparent
}

.av_info_tiny, .av_info_tiny a {
    font-size: 11px
}

.av_info_text, .av_info_text a {
    font: normal 16px "Vollkorn", Georgia, "Times New Roman", Times, serif;
    padding-top: 4px
}

.av_info_important, .av_info_important a {
    font: normal 20px "Vollkorn", Georgia, "Times New Roman", Times, serif
}

.av_important {
    font: bold 1.4em helvetica, Verdana, sertif;
    color: $primary-red
}

@font-face {
    font-family: 'SofiaProLight';
    src: url("../font/SofiaProLight-webfont.eot");
    src: url("../font/SofiaProLight-webfont.svg#svgFontName") format("svg"), url("../font/SofiaProLight-webfont.ttf") format("truetype"), 
        url("../font/SofiaProLight-webfont.woff") format("woff"), url("../font/SofiaProLight-webfont.woff2") format("woff2")
}

.av_go {
    background-color: #006dcc;
    color: $white;
    background-image: -moz-linear-gradient(top, #092abe, #102ba4);
    background-image: -ms-linear-gradient(top, #092abe, #102ba4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#092abe), to(#102ba4));
    background-image: -webkit-linear-gradient(top, #092abe, #102ba4);
    background-image: -o-linear-gradient(top, #092abe, #102ba4);
    background-image: linear-gradient(top, #092abe, #102ba4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#092abe', endColorstr='#102ba4', GradientType=0)
}

.av_go:hover {
    background-color: #102BA4;
    color: $primary-red;
    transition: none
}

.av_save {
    background-color: #93f33d;
    color: $white;
    background-image: -moz-linear-gradient(top, #93f33d, #63a329);
    background-image: -ms-linear-gradient(top, #93f33d, #63a329);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#93f33d), to(#63a329));
    background-image: -webkit-linear-gradient(top, #93f33d, #63a329);
    background-image: -o-linear-gradient(top, #93f33d, #63a329);
    background-image: linear-gradient(top, #93f33d, #63a329);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93f33d', endColorstr='#63a329', GradientType=0)
}

.av_save:hover {
    background-color: #63A329;
    color: $primary-red;
    transition: none
}

.av_cancel {
    color: $white;
    background-color: $primary-red;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0)
}

.av_cancel:hover {
    background-color: #BD362F;
    color: #000000;
    transition: none
}

.av_dropdown {
    border: none;
    color: #DDD;
    margin: 10px 0 0 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 2px
}

.av_dropdown:hover {
    cursor: pointer
}

.av_dropdown_title_bar {
    color: #d3d3d3;
    font: normal 20px "Vollkorn", Georgia, "Times New Roman", Times, serif;
    height: 32px
}

.av_dropdown_trigger, .av_accordion_trigger {
    background-image: url(../img/DropdownArrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border-right: thin solid #d3d3d3;
    float: left;
    width: 35px;
    height: 32px
}

.av_dropdown_title {
    float: left;
    line-height: 20px;
    padding: 8px 0 0px 10px
}

.av_dropdown_content {
    display: none;
    padding: 4px;
    position: absolute;
    width: 100%;
    z-index: 150
}

.av_accordion_title_bar {
    box-shadow: 0 1px 0 #000;
    background-color: #000;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3F3F3F), to(#000));
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: -moz-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: -ms-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: -o-linear-gradient(top, #3F3F3F 0%, #000 100%);
    background-image: linear-gradient(top, #3F3F3F 0%, #000 100%);
    font: normal 16px "Vollkorn", Georgia, "Times New Roman", Times, serif;
    height: 36px;
    width: 100%
}

.av_accordion_title_bar_red {
    box-shadow: 0 1px 0 #000;
    font: normal 16px "Vollkorn", Georgia, "Times New Roman", Times, serif;
    height: 32px;
    margin-bottom: 8px;
    width: 100%
}

.av_title_bar_red {
    background: $primary-red;
    background: -moz-linear-gradient(top, $primary-red 0%, #b51d1b 50%, #ab2112 51%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $primary-red), color-stop(50%, #b51d1b), color-stop(51%, #ab2112), 
                color-stop(100%, #000));
    background: -webkit-linear-gradient(top, $primary-red 0%, #b51d1b 50%, #ab2112 51%, #000 100%);
    background: -o-linear-gradient(top, $primary-red 0%, #b51d1b 50%, #ab2112 51%, #000 100%);
    background: -ms-linear-gradient(top, $primary-red 0%, #b51d1b 50%, #ab2112 51%, #000 100%);
    background: linear-gradient(to bottom, $primary-red 0%, #b51d1b 50%, #ab2112 51%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-color', endColorstr='#000000', GradientType=0)
}

.av_title_bar_loose {
    line-height: 1
}

.av_accordion_trigger:hover {
    cursor: pointer
}

.av_accordion_title {
    padding-left: 45px;
    padding-top: 6px
}

.av_accordion_indent {
    padding-left: 35px
}

.av_accordion_section {
    overflow: auto
}

.av_float_button_bar {
    position: absolute;
    right: 0;
    padding-right: 20px
}

.instruction {
    color: #E0FF84
}

.jsEventName:hover {
    cursor: pointer
}

.vfont_small, .vfont_medium, .vfont_large {
    font-family: "Vollkorn", serif;
    font-weight: normal;
    color: #d3d3d3
}

.vfont_small {
    font-size: 1em
}

.vfont_medium {
    font-size: 1.5em
}

.vfont_large {
    font-size: 2em
}

.disabled {
    color: #cccccc;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px
}

.av_control {
    margin-top: 2%;
    width: 100%
}

.av_control label {
    padding-top: 4px;
    padding-right: 4px;
    text-align: right
}

.terms_of_use {
    border: medium solid $primary-red;
    height: 260px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll
}

.terms_of_use p {
    font-size: 10px
}

.terms_of_use h1, .terms_of_use h2 {
    font-size: 12px
}

.av_list_element {
    font: normal 16px Verdana, Geneva, sans-serif;
    padding: 4px
}

.av_certified {
    padding-left: 25px !important;
    background-image: url(../img/ok-icon_16_red.png);
    background-repeat: no-repeat;
    background-position: 5px 7px
}

.av_btn_success, .av_btn_alternate, .av_btn_cancel {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: $white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    padding: 9px 23px;
    text-decoration: none
}

.av_btn_success:hover, .av_btn_alternate:hover, .av_btn_cancel:hover {
    color: $primary-red
}

.av_btn_success {
    -moz-box-shadow: inset 0px 34px 0px -15px #3ab54b;
    -webkit-box-shadow: inset 0px 34px 0px -15px #3ab54b;
    box-shadow: inset 0px 34px 0px -15px #3ab54b;
    background-color: #2da73f;
    border: 1px solid #132413;
    display: inline-block;
    cursor: pointer;
    color: $white;
    text-shadow: 0px -1px 0px #1d7a2a
}

.av_btn_success:hover {
    background-color: #32b343
}

.av_btn_success:active {
    position: relative;
    top: 1px
}

.av_btn_alternate {
    -moz-box-shadow: inset 0px 34px 0px -15px #4b3ab5;
    -webkit-box-shadow: inset 0px 34px 0px -15px #4b3ab5;
    box-shadow: inset 0px 34px 0px -15px #4b3ab5;
    background-color: #3f2da7;
    border: 1px solid #1d1324;
    text-shadow: 0px -1px 0px #2a1d7a
}

.av_btn_alternate:hover {
    background-color: #4332b3
}

.av_btn_alternate:active {
    position: relative;
    top: 1px
}

.av_btn_cancel {
    -moz-box-shadow: inset 0px 34px 0px -15px #b54b3a;
    -webkit-box-shadow: inset 0px 34px 0px -15px #b54b3a;
    box-shadow: inset 0px 34px 0px -15px #b54b3a;
    background-color: #a73f2d;
    border: 1px solid #241d13;
    text-shadow: 0px -1px 0px #7a2a1d
}

.av_btn_cancel:hover {
    background-color: #b34332
}

.av_btn_cancel:active {
    position: relative;
    top: 1px
}

.alert-heading {
    font-weight: bold;
    line-height: 20px;
    text-rendering: optimizelegibility
}

.av_alert {
    background-color: $primary-red;
    font: normal 1.5em "Vollkorn", serif;
    margin: 70px auto;
    text-align: center;
    width: 50%
}

.av_close_window:hover {
    cursor: pointer;
    color: $primary-red
}

.pv_text:hover {
    cursor: pointer
}

.av_court {
    background-color: $primary-red;
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 40px
}

#customView_wrapper table {
    margin: 0
}

#customView th, #customView td {
    text-align: center
}

#customView tr:hover {
    cursor: pointer
}

#customView_wrapper {
    marin: 0;
    padding: 0
}

.filter_date {
    clear: both;
    font: normal 20px "Vollkorn", Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin: 10px 0
}

#clearTeams, #clearCourts, #clearTimes {
    margin: 5px auto
}

.filter {
    float: left;
    display: none;
    margin: 0 10px 20px;
    width: 100%;
    z-index: 1000
}

.filterBlock {
    float: left;
    position: relative;
    z-index: 100
}

.filterTitle {
    font: bold 1.5em "Vollkorn", serif
}

#applyFilter {
    margin-top: -6px
}

#filterTogglex::before {
    content: '&nbsp;';
    background-image: url("../img/DropdownArrow.gif");
    width: 15px
}

#filterToggle {
    background-image: url("../img/DropdownArrow.png");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin: 0
}

#filterToggle:hover {
    cursor: pointer
}

.filterOption input {
    margin: 0 10px;
    padding-right: 4px
}

.filterOption {
    float: left;
    width: 50%
}

.dataTable {
    margin-top: 20px
}

.dataTable table {
    margin: 0
}

.dataTable tr:nth-child(odd) {
    background-color: #333333
}

.dataTables_paginate {
    text-align: center
}

.pagination {
    list-style: none
}

.pagination li {
    float: left;
    color: #666666;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center
}

.paginate_button {
    float: left;
    color: #CCCCCC;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center
}

#adminBody .active {
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0)
}

.current {
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0)
}

#userTable th {
    background-color: $primary-red
}

#userTable .dataTable th, .dataTable th {
    color: $white;
    font-weight: bold;
    font-size: 14px;
    text-align: left
}

#userTable_previous:before {
    content: "\f060 " " ";
    font-family: FontAwesome;
    font-size: medium
}

#userTable_next:after {
    content: " " '\f061';
    font-family: FontAwesome;
    font-size: medium
}

#inbox_menu ul {
    list-style: none
}

#inbox_menu li {
    font-size: 1.2em;
    line-height: 25px
}

#inbox_menu li li {
    font-size: inherit
}

#inbox_menu li:hover {
    background-color: $primary-red;
    color: white;
    cursor: pointer
}

#inbox_menu li.subItems {
    background-color: inherit;
    color: inherit;
    cursor: inherit
}

#inbox_menu .current {
    font-weight: bold
}

.mc_current {
    display: block
}

.header_message {
    font: normal 1.5em "Vollkorn", serif;
    margin-top: 10px;
    padding: 6px 4px 4px 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%
}

.hide {
    display: none
}

.av_panel {
    margin: 10px 0
}

.av_panel_heading {
    background-color: $primary-red;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    color: $white;
    min-height: 40px;
    padding: 10px
}

.av_panel_body {
    background-color: $white;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    color: #000000;
    min-height: 250px;
    padding: 10px
}

.message_line:hover {
    cursor: pointer
}

#av_email_sample {
    background-color: $white;
    color: black;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #7a021a;
    padding: 10px
}

#av_email_sample h1, #av_email_sample h2 {
    color: black
}

ul.chzn-results {
    margin-left: -6px !important
}

a .notice_link {
    color: #C09853;
    text-decoration: underline;
    font-weight: bold
}

.c_status {
    cursor: pointer;
    font-size: 13px
}

.inlineBtn {
    margin-top: 5px;
    margin-bottom: 10px
}

.position_video {
    float: left
}

.av_bookmark_card {
    margin: 4px 0;
    padding: 0
}

.av_video_bookmark {
    width: 100%;
    overflow: auto
}

.av_bookmark_card button {
    margin-right: 4px
}

#video_info {
    margin-top: -6px
}

.av_detail {
    display: none;
    background-color: white;
    border: 2px $primary-red solid;
    padding: 0;
    position: absolute;
    top: 55px;
    right: 22px;
    z-index: 100;
    font-size: 11px
}

.av_detail p {
    color: #333333;
    line-height: 50%
}

.av_detail .panel-heading {
    color: white
}

#save {
    margin-top: -5px
}

.success {
    color: green
}

.processing {
    color: darkred
}

.show_stable {
    color: green
}

.place_arrow {
    color: yellow
}

.place_arrow:hover {
    cursor: pointer
}

#arrow_container {
    position: relative
}

#vb_arrow {
    position: absolute;
    display: none;
    z-index: 100
}

#positionArrow {
    display: none
}

#add_bookmark {
    margin-top: -6px
}

.remove_bkmk {
    color: darkred
}

.remove_bkmk:hover {
    cursor: pointer
}

.show_message {
    color: green;
    display: none
}

.alert {
    padding: 8px 35px 8px 14px;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success, .alert-success .alert-heading {
    color: #7ccf34
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7
}

.alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading {
    color: #a42e08
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info, .alert-info .alert-heading {
    color: #0929be
}

.av_pop {
    display: none
}

.glyphicon-bookmark {
    color: #2e6da4
}

.glyphicon-eye-open {
    color: green
}

.glyphicon-eye-close {
    color: #a42e08
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important
}

.av_match {
    padding: 4px
}

.av_match:hover {
    cursor: pointer
}

.odd {
    background-color: #333333
}

.tooltip-inner {
    background-color: #fcf8e3;
    color: #333333
}

#video_info_detail {
    width: 275px
}

#video_detail_message {
    display: none;
    margin: 10px 0 0
}

.av_group {
    margin: 20px 0
}

.panel-primary {
    border-color: $primary-red
}