//Reds
$maroon: #7a021b;
$dark-red: #900;
$red: #AA0000;


//Greens
$green: #060;

//Yellows
$pinkish-yellow: #FCC;
$light-yellow: #fbeed5;
$lighter-yellow: #fcf8e3;

//Blues
$purple-blue: #19006d;
$dark-blue: #22028f;
$navy: #2903a9;
$blue: #00C;

//Grays and blacks
$black: #000;
$darkest-gray: #050505;
$darker-gray: #1D1D1D ;
$dark-gray: #232323;
$gray: #45484d;
$medium-gray: #999;
$light-gray: #d3d3d3;
$lighter-gray: #cccccc;
$lightest-gray: #DDDDDD;
$box-shadow-gray: #323232bf;
$white: #FFFFFF;

//These grays are only seen on the team roster table (line 676ish)
$roster-gray-light : #99a0a8;
$roster-gray: #697077;
$roster-gray-dark: #13181c;