@mixin important_size($size) {
    width: $size !important
}
@mixin size($size) {
    width: $size 
}
@mixin hzsize($left, $right) {
    margin-left: $left;
    margin-right: $right;
}
@mixin center {
    text-align: center;
}
@mixin padding-left($size) {
    padding-left: $size
}
@mixin important_fontsize($size) {
    font-size: $size !important
}

