@use '../00-settings/colors.scss';
@use '../00-settings/fonts.scss';

.article-post {
    padding: 4px 1%;

    p {
        font-family: $vollkorn;
        font-weight: normal;
    }

    a {
        &:link, &:active, &:visited {
            color: $gray;
        }
        &:hover {
            color: $primary-red;
            background-color: inherit;
            .more {
                color: $gray;
            }
        }
        
        &.more {
            color: $primary-red;
            background-color: inherit;
        }
    } 
}
