@use '../00-settings/fonts.scss';
@use '../00-settings/colors.scss';

#av_addToWatchlist .widget-title:hover, .av_addToWatchlist .widget-content p {
    cursor: pointer
}

.av_watchlist_edit, .av_watchlist_delete {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 18px;
    float: right;
    padding: 4px
}

.av_watchlist_athlete{
    font: normal 16px $veranda;
    padding-bottom: 6px;
    width: 100%  
}

#watchlistSpec {
    opacity: 1;
    filter: alpha(opacity=100);
    border:  $watch-list-border thin solid;
    color: $white;
    font: bold 20px $veranda;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    z-index: 2
}

#av_watchlist a.icon {
    float: right;
    padding: 7px;
    width: auto
}

#av_watchlist a.av_icon_right {
    float: right;
    padding: 0
}