@use '../00-settings/colors.scss';
@use '../00-settings/fonts.scss';

.av_btn {
    &_success, &_alternate, &_cancel {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        display: inline-block;
        cursor: pointer;
        color: $white;
        font-family: $veranda;
        font-size: 1.4em;
        font-weight: bold;
        padding: 9px 23px;
        text-decoration: none;
        &:hover {
            color: $primary-red;
        }
    }
    &_success {
        -moz-box-shadow: inset 0px 34px 0px -15px $av-success-box-shadow;
        -webkit-box-shadow: inset 0px 34px 0px -15px $av-success-box-shadow;
        box-shadow: inset 0px 34px 0px -15px $av-success-box-shadow;
        background-color: $av-success-background;
        border: 1px solid $av-success-border;
        display: inline-block;
        cursor: pointer;
        color: $white;
        text-shadow: 0px -1px 0px $av-success-text-shadow;
        &:hover {
            background-color: $av-success-hover
        }
        &:active {
            position: relative;
            top: 1px
        }
    }
    &_alternate {
        -moz-box-shadow: inset 0px 34px 0px -15px $av-btn-alt-box-shadow;
        -webkit-box-shadow: inset 0px 34px 0px -15px $av-btn-alt-box-shadow;
        box-shadow: inset 0px 34px 0px -15px $av-btn-alt-box-shadow;
        background-color: $av-btn-alt-background;
        border: 1px solid $av-btn-alt-border;
        text-shadow: 0px -1px 0px $av-btn-alt-text-shadow;
        &:hover {
            background-color: $av-btn-alt-hover;
        }
        &:active {
            position: relative;
            top: 1px;
        }
    }
    &_cancel {
        -moz-box-shadow: inset 0px 34px 0px -15px $av-btn-cancel-box-shadow;
        -webkit-box-shadow: inset 0px 34px 0px -15px $av-btn-cancel-box-shadow;
        box-shadow: inset 0px 34px 0px -15px $av-btn-cancel-box-shadow;
        background-color: $av-btn-cancel-background;
        border: 1px solid $av-btn-cancel-border;
        text-shadow: 0px -1px 0px $av-btn-cancel-text-shadow;
        &:hover {
            background-color: $av-btn-cancel-hover
        }
        &:active {
            position: relative;
            top: 1px
        }
    }    
}