@use '../00-settings/colors.scss';
@use '../00-settings/fonts.scss';

.av_dropdown {
  border: none;
  color: #DDD;
  margin: 10px 0 0 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 2px
}

.av_dropdown:hover {
  cursor: pointer
}

.av_dropdown_title_bar {
  color: $headings;
  font: normal 20px "Vollkorn", Georgia, "Times New Roman", Times, serif;
  height: 32px
}

.av_dropdown_trigger, .av_accordion_trigger {
  background-image: url(../img/DropdownArrow.gif);
  background-position: center center;
  background-repeat: no-repeat;
  border-right: thin solid $headings;
  float: left;
  width: 35px;
  height: 32px
}

.av_dropdown_title {
  float: left;
  line-height: 20px;
  padding: 8px 0 0px 10px
}

.av_dropdown_content {
  display: none;
  padding: 4px;
  position: absolute;
  width: 100%;
  z-index: 150
}