@use '../01-tools/mixins.scss';

//av_size
.av_xmini {
    @include important_size(30px);
}

.av_mini {
    @include important_size(60px);
}

.av_small {
    @include important_size(90px);
}

.av_medium {
    @include important_size(150px);
}

.av_large {
    @include important_size(210px);
}

.av_xlarge {
    @include important_size(270px);
}

.av_xxlarge {
    @include important_size(320px);
}

.av_xmini_fluid {
    @include important_size(11%);
}

.av_mini_fluid {
    @include important_size(23.5%);
}

.av_small_fluid {
    @include important_size(36.5%);
}

.av_medium_fluid {
    @include important_size(48.5%);
}

.av_large_fluid {
    @include important_size(61%);
}

.av_xlarge_fluid {
    @include important_size(73.5%);
}

.av_xxlarge_fluid {
    @include important_size(86%);
}

//av_hz
.av_hzmini {
    @include  hzsize(2px, 2px);
}

.av_hzsmall {
    @include  hzsize(4px, 4px);
}

.av_hzmedium {
    @include  hzsize(8px, 8px);
}

.av_hzlarge {
    @include  hzsize(16px, 16px);
}

.av_hzxlarge {
    @include  hzsize(32px, 32px);
}

.av_hzxxlarge {
    @include  hzsize(64px, 64px);
}

.center {
    @include  hzsize(auto, auto);
}

.center_contents {
    @include center;
}

//av_info
.av_info1 {
    @include size(8%);
}

.av_info2 {
    @include size(17%);
}

.av_info3 {
    @include size(25%);
}

.av_info4 {
    @include size(33%);
}

.av_info5 {
    @include size(42%);
}

.av_info6, .av_half {
    @include size(50%);
}

.av_info7 {
    @include size(58%);
}

.av_info8 {
    @include size(67%);
}

.av_info9 {
    @include size(75%);
}

.av_info10 {
    @include size(83%);
}

.av_info11 {
    @include size(92%);
}

.av_info12, .av_full {
    @include size(100%);
}

//av_offset
.av_offset1 {
    @include padding-left(7%);
}

.av_offset2 {
    @include padding-left(17%);
}

.av_offset3 {
    @include padding-left(25%);
}

.av_offset4 {
    @include padding-left(33%);
}

.av_offset5 {
    @include padding-left(42%);
}

.av_offset6 {
    @include padding-left(50%);
}

.av_offset7 {
    @include padding-left(58%);
}

.av_offset8 {
    @include padding-left(67%);
}

.av_offset9 {
    @include padding-left(75%);
}

.av_offset10 {
    @include padding-left(83%);
}

.av_offset11 {
    @include padding-left(92%);
}

.av_offset12 {
    @include padding-left(100%);
}

//av_font
.av_font10 {
    @include important_fontsize(10px);
}

.av_font11 {
    @include important_fontsize(11px);
}

.av_font12 {
    @include important_fontsize(12px);
}

.av_font16 {
    @include important_fontsize(16px);
}

.av_font18 {
    @include important_fontsize(18px);
}

//Padding
.av_padTop {
    margin-top: 16px
}

//Margin
.margin-right {
    margin-right: 20px
}

.av_nomargin {
    margin: 0 !important
}

.av_nomargin_top {
    margin-top: 0 !important
}

.clear {
    clear: both
}

.smallest {
    font-size: 10px
}

.vfont {
    &_small, &_medium, &_large {
        font-family: $vollkorn;
        font-weight: normal;
        color: $headings;
    }
    &_small {
        font-size: 1em
    }
    &_medium {
        font-size: 1.5em
    }
    &_large {
        font-size: 2em
    }
}