@use '../00-settings/colors.scss';
@use '../00-settings/fonts.scss';

.av_label, .av_label_sm {
    font-weight: normal;
    color: $av-label
}

.av_label {
    font-size: 18px;
    font-weight: normal;
    color: $av-label;
    &_sm {
        font-size: 9px;
        font-weight: normal;
        color: $av-label;
    }
}
.av_control {
    margin-top: 2%;
    width: 100%;
    label {
        padding-top: 4px;
        padding-right: 4px;
        text-align: right
    }
    &_label {
        float: left;
        text-align: right;
        padding-right: 10px
    }
}