@use '../00-settings/colors.scss';
@use '../00-settings/fonts.scss';

.av_label, .av_label_sm {
    font-weight: normal;
    color: $av-label
}

.av_label {
    font-size: 18px;
    font-weight: normal;
    color: $av-label;
    &_sm {
        font-size: 9px;
        font-weight: normal;
        color: $av-label;
    }
}

.av_control_label {
    float: left;
    text-align: right;
    padding-right: 10px
}
