@use '../00-settings/colors.scss';
@use '../00-settings/fonts.scss';

.video_eventType_title {
    padding: 1px 1%;
    a:hover {
        color: $black;
    }
}

*[id*='eventType'] .accordion-body {
    padding-right: 0;
    padding-left: 2%
}

.video_event_title {
    box-shadow: 0 1px 0 $black;
    background-color: $black;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from($video-event-title), to $black);
    background-image: -webkit-linear-gradient(top, $video-event-title 0%, $black 100%);
    background-image: -moz-linear-gradient(top, $video-event-title 0%, $black 100%);
    background-image: -ms-linear-gradient(top, $video-event-title 0%, $black 100%);
    background-image: -o-linear-gradient(top, $video-event-title 0%, $black 100%);
    background-image: linear-gradient(top, $video-event-title 0%, $black 100%);

    font: normal 20px $vollkorn;
    color: #d3d3d3;
    padding: 1px 1%;
    a:hover {
        background-color: transparent;
    }
}

.video_match_title a {
    font-size: 14px
}

.video_eventType_title span.icon, .video_event_title span.icon, .video_match_title span.icon {
    border-right: 1px solid $light-gray;
    float: left;
    opacity: 0.7;
    filter: alpha(opacity=70);
    padding: 8px 10px 7px 8px;
    margin-right: 10px;
}

#video_info {
    margin-top: -6px
}

.position_video {
    float: left
}

#video_info_detail {
    width: 275px
}

#video_detail_message {
    display: none;
    margin: 10px 0 0
}


