@mixin av_important_size($size) {
    width: $size !important
}

@mixin av_size($size) {
    width: $size 
}

@mixin av_hzsize($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin center {
    text-align: center;
}

@mixin padding-left($size) {
    padding-left: $size
}